.DiscoverPanelItem__root {
  padding: 15px;
  border-top: 1px solid #efefef;
}

.DiscoverPanelItem__user-info {
  display: inline-flex;
  align-items: center;
}

.DiscoverPanelItem__avatar-image {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  margin-right: 8px;
}

.DiscoverPanelItem__username,
.DiscoverPanelItem__username:hover,
.DiscoverPanelItem__username:active {
  text-decoration: none;
  color: #262626;
  font-weight: 600;
}

.DiscoverPanelItem__user-info-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.DiscoverPanelItem__follow-button {
  margin-left: auto;
}

.DiscoverPanelItem__posts-container {
  padding-top: 5px;
}

.DiscoverPanelItem__no-posts {
  padding: 20px 0;
  text-align: center;
}

.DiscoverPanelItem__photo-container {
  display: flex;
  justify-content: flex-start;
}

.DiscoverPanelItem__photo-item--filter {
  display: inline-block;
  margin-right: 5px;
}

.DiscoverPanelItem__photo-item {
  width: 180px;
  height: 180px;
  background-size: cover;
  background-position: center center;
}
