.FilterButton__button {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: #fff;
  padding: 0;
}

.FilterButton__button--active {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
