.GalleryItem__root {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  border: 1px solid #efefef;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

.GalleryItem-header {
  display: flex;
  align-items: center;
  padding: 14px 20px;
}

.GalleryItem-header__avatar-container {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
}

.GalleryItem-header__avatar-img {
  display: inline-block;
  width: 100%;
  border-radius: 50%;
}

.GalleryItem-header__metadata-container {
  line-height: 1.3;
  color: #262626;
}

.GalleryItem-header__username {
  font-weight: 600;
  font-size: 15px;
}

.GalleryItem-header__username a {
  color: #262626;
  text-decoration: none;
}

.GalleryItem-header__username a:hover {
  color: #262626;
}

.GalleryItem-header__address {
  font-size: 14px;
}

.GalleryItem-header__address a,
.GalleryItem-header__address a:hover {
  color: #262626;
  text-decoration: none;
}

.GalleryItem-header__timestamp {
  margin-left: auto;
  color: #999;
}

.GalleryItem__body img {
  display: block;
  width: 100%;
}

.GalleryItem__footer {
  padding: 14px 24px;
}

.GalleryItem__fetch-comments-link {
  color: #999;
  cursor: pointer;
}

.GalleryItem__fetch-comments-link:hover,
.GalleryItem__fetch-comments-link:active {
  color: #777;
}

.GalleryItem__comments {
  padding-bottom: 10px;
}

.GalleryItem__likes {
  line-height: 1;
  margin-bottom: 8px;
}

.GalleryItem__action-box {
  display: flex;
  border-top: 1px solid #efefef;
  padding-top: 10px;
}

.GalleryItem__like-button {
  margin-right: 8px;
}

.GalleryItem__comment-box {
  flex-grow: 1;
}

.GalleryItem__heart-animtaion-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.GalleryItem__heart-animation-icon {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
  animation: heart 500ms ease-in-out;
}

@keyframes heart {
  0% { font-size: 40px; opacity: 0; z-index: 0; }
  50% { font-size: 80px; opacity: 0.8; z-index: 1; }
  100% { font-size: 80px; opacity: 0.8; z-index: 1; }
}
