.GalleryItem__root {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  border: 1px solid #efefef;
  background-color: #fff;
  border-radius: 2px;
}

.GalleryItem-header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.GalleryItem-header__avatar-container {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.GalleryItem-header__avatar-img {
  display: inline-block;
  width: 100%;
  border-radius: 50%;
}

.GalleryItem__body img {
  display: inline-block;
  width: 100%;
}

.GalleryItem__footer {
  padding: 1rem;
}
