.Header__root {
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
}

.Header__container {
  padding: 1.3rem 0;
}

.Header__logo {
  font-size: 22px;
  margin: 0;
}

.Header__logo-link {
  text-decoration: none;
  color: #262626;
}

.Header__nav-group {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.Header__nav-link {
  margin: 0;
}

.Header__nav-link a {
  text-decoration: none;
  color: #262626;
}

.Header__nav-link .NavLink--active {
  padding-bottom: 2px;
  border-bottom: 2px solid;
}
