.Header__root {
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
}

.Header__container {
  padding: 1.3rem 0;
}

.Header__logo {
  font-size: 22px;
  margin: 0;
}

.Header__logo-link {
  text-decoration: none;
  color: #262626;
}

.Header__nav-group {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.Header__nav-link {
  margin: 0;
}

.Header__nav-link a {
  text-decoration: none;
  color: #262626;
}

.Header__nav-link .NavLink--active {
  padding-bottom: 2px;
  border-bottom: 2px solid;
}

.Header__dropdown-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.Header__dropdown-container {
  background-color: white;
  position: absolute;
  border: 1px solid #dbdbdb;
  top: 50px;
  right: 80px;
  z-index: 11;
  min-width: 500px;
}

.Header__notifications-spinner-container {
  text-align: center;
  padding: 15px;
}
