.NewPostBoard__preview-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.NewPostBoard__preview-filter {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.NewPostBoard__dropzone-wrapper,
.NewPostBoard__slider-wrapper {
  padding: 50px 0;
}

.NewPostBoard__dropzone {
  width: 400px;
  height: 400px;
  border: 2px dashed rgb(102, 102, 102);
  border-radius: 5px;
}

.NewPostBoard__slider-icon {
  width: 20px;
  text-align: center;
  font-size: 18px !important;
}

.NewPostBoard__slider-label {
  color: #555;
}

.NewPostBoard__spinner {
  font-size: 16px;
}

.NewPostBoard__dropzone-inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.NewPostBoard__dropzone-inner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.NewPostBoard__dropzone-icon {
  font-size: 40px !important;
  color: #555;
}

.NewPostBoard__dropzone-text {
  font-size: 20px;
  color: #555;
}
