.NotificationCardsContainer__root {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.NotificationCard__root {
  background: #fff;
  border: 1px solid #dbdbdb;
  display: flex;
  padding: 10px;
  border-radius: 2px;
  width: 280px;
  z-index: 10;
  margin-top: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

.NotificationCard__avatar-wrapper {
  margin-right: 10px;
}

.NotificationCard__avatar-image {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.NotificationCard__message-wrapper {
  flex-grow: 1;
}

.NotificationCard__close-button {
  float: right;
  color: #dbdbdb;
  cursor: pointer;
}
