.NotificationButton__button {
  display: block
}

.NotificationButton__button--active {
  background-color: #6559ca;
  color: white !important;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 11px;
  line-height: 2;
  margin-top: 5px;
}
