.PostModal__root {
  width: 100%;
}

.PostModal__photo-wrapper {
  position: relative;
}

.PostModal__prev-btn,
.PostModal__next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
  line-height: 1;
  font-size: 45px;
  height: inherit;
  color: white;
  background-color: transparent;
  border: none;
  z-index: 5;
}

.PostModal__prev-btn {
  left: 0;
}

.PostModal__next-btn {
  right: 0;
}

.PostModal__prev-btn:hover,
.PostModal__prev-btn:active,
.PostModal__prev-btn:focus {
  color: #fff;
}

.PostModal__next-btn:hover,
.PostModal__next-btn:active,
.PostModal__next-btn:focus {
  color: #fff;
}

.PostModal__photo-image {
  display: block;
  width: 100%;
}

.PostModal__info-container {
  background-color: #fff;
  padding: 15px 15px 15px 0;
  margin-left: 26px !important;
}

.PostModal__user-info {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
  align-items: center;
}

.PostModal__avatar-wrapper {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.PostModal__follow-button {
  margin-left: auto;
}

.PostModal__follow-button button {
  padding: 0 15px;
  margin: 0;
}

.PostModal__avatar-wrapper img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.PostModal__action-box {
  position: absolute;
  bottom: 0;
  width: calc(30.6666666667% - 15px);
  padding: 10px 0;
  border-top: 1px solid #efefef;
}

.PostModal__like-button,
.PostModal__comment-box {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
