.Profile__spinner-container {
  padding-top: 20vh;
  text-align: center;
}

.Profile__avatar-img-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
}

.Profile__user-info-container {
  padding: 40px 0;
}

.Profile__avatar-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Profile__username {
  display: inline-block;
  margin-right: 10px;
}

.Profile__edit-button {
  padding: 0.3em 1.2em;
  line-height: 1;
  vertical-align: middle;
}

.Profile__menu-button {
  display: inline-block;
  line-height: 1;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  vertical-align: middle;
  border: none;
  outline: none;
  margin-left: 10px;
  color: #999;
}

.Profile__edit-button a {
  display: inline-block;
  width: 100%;
  color: #999;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  letter-spacing: .1px;
}

.Profile__edit-button a:hover {
  color: #999;
}

.Profile__photo-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Profile__photo-gallery-item {
  width: 270px;
  height: 270px;
  margin: 20px;
}

.Profile__photo-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.Profile__stats-item {
  color: #262626;
  display: inline-block;
  margin-right: 40px;
  font-size: 17px;
}

.Profile__stats-count {
  font-weight: bold;
}

.Profile__modal-button {
  display: block;
  width: 450px;
  line-height: 1;
  height: 50px;
  margin: 0;
  border-radius: 0;
}

.Profile__post-modal-root {
  width: 100%;
}

.Profile__post-modal-image-wrapper {
  position: relative;
}

.Profile__modal-prev-btn,
.Profile__modal-next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
  line-height: 1;
  font-size: 45px;
  height: inherit;
  color: white;
  background-color: transparent;
  border: none;
}

.Profile__modal-prev-btn {
  left: 0;
}

.Profile__modal-next-btn {
  right: 0;
}

.Profile__post-modal-image {
  display: inline-block;
  width: 100%;
}

.Profile__post-modal-info-container {
  background-color: #fff;
  padding: 15px 15px 15px 0;
}

.Profile__modal-user-info {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}

.Profile__modal-user-avatar-wrapper {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.Profile__modal-user-avatar-wrapper img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
