.Profile__avatar-img-wrapper {
  width: 150px;
  margin: 0 auto;
}

.Profile__user-info-container {
  padding: 40px 0;
}

.Profile__avatar-img {
  display: inline-block;
  width: 100%;
  border-radius: 50%;
}

.Profile__username {
  display: inline-block;
  margin-right: 10px;
}
