.SignUpForm__input {
  width: 100%;
}

.SignUpForm__button,
.SignUpForm__button:hover {
  display: block;
  width: 100%;
  background-color: #3897f0;
  border-color: #3897f0;
  color: white;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.SignUpForm__button:disabled {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  cursor: not-allowed;
  color: #fafafa;
}

.SignUpForm__error-text {
  color: #ed4956;
  font-size: 14px;
}

.SignUpForm__spinner {
  font-size: 18px !important;
}
