/* Credit to http://codepen.io/mrrocks/pen/EiplA */

.Spinner {
  animation: rotator 1.4s linear infinite;
  width: 30px;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.Spinner__path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite,
    colors 5.6s ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #fec564; }
	25% { stroke: #5258cf; }
	50% { stroke: #893dc2; }
	75% { stroke: #d9317a; }
  100% { stroke: #f77638; }
}

@keyframes dash {
 0% { stroke-dashoffset: 187; }
 50% {
   stroke-dashoffset: 46.75; /* 187/4 */
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 187;
   transform:rotate(450deg);
 }
}
